<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registro de Lote</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="bg-gray-100 bg-opacity-75">
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6">
            <h1 class="text-2xl font-bold text-center mb-6">Registro de Lote</h1>
            <form action="#" th:action="@{/lote}" th:object="${lote}" method="post">
                <!-- Cerveza -->
                <div class="mb-4">
                    <label for="cerveza" class="block text-sm font-medium text-gray-700">Cerveza:</label>
                    <input type="text" id="cerveza" th:field="*{cerveza}" class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 md:text-md" placeholder="Nombre de la cerveza" required>
                </div>

                <!-- Cantidad Litros -->
                <div class="mb-4">
                    <label for="cantidadLitros" class="block text-sm font-medium text-gray-700">Cantidad de Litros:</label>
                    <input type="number" id="cantidadLitros" th:field="*{cantidadLitros}" class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 md:text-md" placeholder="Cantidad en litros" min="0" required>
                </div>

                <!-- Estado -->
                <div class="mb-4">
                    <label for="estado" class="block text-sm font-medium text-gray-700">Estado:</label>
                    <select id="estado" th:field="*{estado}" class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 md:text-md" required>
                        <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}">Estado</option>
                    </select>
                </div>

                <!-- Notas -->
                <div class="mb-4">
                    <label for="notas" class="block text-sm font-medium text-gray-700">Notas:</label>
                    <textarea id="notas" th:field="*{notas}" class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 lg:text-lg" placeholder="Notas adicionales" maxlength="254" style="resize: none;"></textarea>
                </div>

                <!-- Fecha de Carga -->
                <div class="mb-4">
					<label for="fechaCarga">Fecha de Carga:</label>
					<input type="date" id="fechaCarga" th:field="*{fechaCarga}" required>
                </div>

                <!-- Fecha de Vencimiento -->
                <div class="mb-4">
					<label for="fechaVencimiento">Fecha de Vencimiento:</label>
					<input type="date" id="fechaVencimiento" th:field="*{fechaVencimiento}" required>
                </div>

                <!-- Barriles Limpios -->
                <div class="mb-4">
                    <label for="barriles" class="block text-sm font-medium text-gray-700">Seleccionar Barril Limpio:</label>
                    <select id="barriles" name="barriles" multiple th:field="*{barriles}" class="mt-1 block w-full border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 md:text-md">
                        <option th:each="barril : ${barrilesLimpios}" th:value="${barril.id}" th:text="${barril.id + ' - ' + barril.litros + ' litros'}"></option>
                    </select>
                </div>

                <!-- Botones -->
                <div class="flex justify-between">
                    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600">Guardar</button>
                    <a href="/lote" class="bg-red-500 text-white px-4 py-2 rounded-lg text-center hover:bg-red-600">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>