<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
       
        .main-content {
            max-width: 900px; 
            margin: 0 auto; 
            padding: 1rem; 
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="flex">
        
        <aside class="flex h-screen w-20 flex-col items-center bg-gray-800 text-white">
            <div class="my-6">
                <i id="menu-button" class="fas fa-bars text-3xl cursor-pointer"></i>
            </div>
            
            <nav id="dropdown-menu" class="dropdown mt-10 flex flex-col space-y-8">
                <a href="/barril" class="flex items-center justify-center rounded-full p-2 hover:bg-gray-700">
                    <i class="fas fa-beer-mug-empty fa-2x" title="Barriles"></i>
                </a>
                <a href="/usuarios" class="flex items-center justify-center rounded-full p-2 hover:bg-gray-700">
                    <i class="fa fa-user-circle fa-2x" aria-hidden="true" title="Usuarios"></i>
                </a>
                <a href="#" class="flex items-center justify-center rounded-full p-2 hover:bg-gray-700">
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true" title="Cerrar sesion"></i>
                </a>
                
            </nav>
        </aside>

        
        <main class="ml-10 mb-40 flex-grow flex items-center justify-center">
            <div class="main-content">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcPk1wOl1fffAidYDJhRno_sTpfkhwcPLb0g&s" alt="Placeholder Image" class="mb-6 rounded-lg mx-auto" />
                <h1 class="mb-6 text-4xl font-bold text-center">SIERRA MAESTRA</h1>
				<h4 class="mb-6 text-2xl font-bold text-center">SOFTWARE SYSTEM</h4>
				<br>
				<h4 class="mb-6 text-2xl font-bold text-center">Welcome, <span th:text="${email}"> Usuario </span>!</h4>
			</div>
        </main>
    </div>
</body>
</html>

